<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="core" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Doku Payment</label>
                <field id="active" translate="label" type="select" sortOrder="101" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="102" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
                <field id="mall_id" translate="label" type="text" sortOrder="103" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Mall ID / Merchant ID</label>
                    <comment>**Required**</comment>
                    <config_path>payment/core/mall_id</config_path>
                </field>
                <field id="shared_key" translate="label" type="text" sortOrder="104" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Shared Key</label>
                    <comment>**Required**</comment>
                    <config_path>payment/core/shared_key</config_path>
                </field>
                <field id="environment" translate="label" type="select" sortOrder="105" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Environment</label>
                    <source_model>Doku\MerchantHosted\Model\Config\Source\Environment</source_model>
                </field>
                <field id="expiry" translate="label" type="text" sortOrder="106" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Expiry in minute</label>
                    <comment>**Required**</comment>
                    <config_path>payment/core/expiry</config_path>
                </field>
                <field id="sender_mail" translate="label" type="text" sortOrder="107" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email Sender</label>
                    <comment>**Required**</comment>
                    <config_path>payment/core/sender_mail</config_path>
                </field>
                <field id="sender_name" translate="label" type="text" sortOrder="108" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Email Sender Name</label>
                    <comment>**Required**</comment>
                    <config_path>payment/core/sender_name</config_path>
                </field>
                <field id="payment_channels" translate="label" type="multiselect" sortOrder="109" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Select Payment Channel</label>
                    <source_model>Doku\MerchantHosted\Model\Config\Source\PaymentChannel</source_model>
                </field>
                <group id="alfa" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Alfa</label>
                    <field id="paycode" translate="label" type="text" sortOrder="111" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Prefix Paycode</label>
                        <comment>**Required for Alfa Payment Channel**</comment>
                        <config_path>payment/core/alfa/paycode</config_path>
                    </field>
                </group>
                <group id="cc" translate="label" type="text" sortOrder="115" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Credit Card</label>
                    <field id="is_token" translate="label" type="select" sortOrder="116" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Use Tokenization</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/core/cc/is_token</config_path>
                    </field>
                </group>
                <group id="mandiri_lite" translate="label" type="text" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Mandiri SOA Lite</label>
                    <field id="paycode" translate="label" type="text" sortOrder="121" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Prefix Paycode</label>
                        <comment>**Required for Mandiri SOA Lite Payment Channel**</comment>
                        <config_path>payment/mandiri_lite/paycode</config_path>
                    </field>
                </group>
                <group id="mandiri_full" translate="label" type="text" sortOrder="125" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Mandiri SOA Full</label>
                    <field id="paycode" translate="label" type="text" sortOrder="126" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Prefix Paycode</label>
                        <comment>**Required for Mandiri SOA Full Payment Channel**</comment>
                        <config_path>payment/mandiri_full/paycode</config_path>
                    </field>
                </group>
                <group id="mandiri_va" translate="label" type="text" sortOrder="127" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Mandiri VA</label>
                    <field id="paycode" translate="label" type="text" sortOrder="128" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Prefix Paycode</label>
                        <comment>**Required for Mandiri VA Payment Channel**</comment>
                        <config_path>payment/mandiri_va/paycode</config_path>
                    </field>
                </group>
                <group id="permata_lite" translate="label" type="text" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Permata VA Lite</label>
                    <field id="paycode" translate="label" type="text" sortOrder="131" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Prefix Paycode</label>
                        <comment>**Required for Permata VA Lite Payment Channel**</comment>
                        <config_path>payment/permata_lite/paycode</config_path>
                    </field>
                </group>
                <group id="permata_full" translate="label" type="text" sortOrder="135" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Permata VA Full</label>
                    <field id="paycode" translate="label" type="text" sortOrder="136" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Prefix Paycode</label>
                        <comment>**Required for Permata VA Full Payment Channel**</comment>
                        <config_path>payment/permata_full/paycode</config_path>
                    </field>
                </group>
                <group id="sinarmas_lite" translate="label" type="text" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sinarmas VA Lite</label>
                    <field id="paycode" translate="label" type="text" sortOrder="141" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Prefix Paycode</label>
                        <comment>**Required for Sinarmas VA Lite Payment Channel**</comment>
                        <config_path>payment/sinarmas_lite/paycode</config_path>
                    </field>
                </group>
                <group id="sinarmas_full" translate="label" type="text" sortOrder="145" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sinarmas VA Full</label>
                    <field id="paycode" translate="label" type="text" sortOrder="146" showInDefault="1" showInWebsite="1" showInStore="0">
                        <label>Prefix Paycode</label>
                        <comment>**Required for Sinarmas VA Full Payment Channel**</comment>
                        <config_path>payment/sinarmas_full/paycode</config_path>
                    </field>
                </group>
            </group>
            <!-- payment-group -->
        </section>
    </system>
</config>
