<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <oco>
                <active>0</active>
                <title>Doku Payment Gateway</title>
                <mall_id>Mall ID</mall_id>
                <shared_key>Shared Key</shared_key>
                <is_token>0</is_token>
                <payment_channels>0</payment_channels>
                <order_status>Pending Payment</order_status>
                <instructions>Instruction</instructions>
                <payment_action>true</payment_action>
                <model>Doku\MerchantHosted\Model\Oco</model>
            </oco>
        </payment>
    </default>
</config>
