<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <core>
                <active>1</active>
                <title>core</title>
                <mall_id>Mall ID</mall_id>
                <shared_key>Shared Key</shared_key>
                <payment_channels>0</payment_channels>
                <payment_action>true</payment_action>
                <model>Doku\MerchantHosted\Model\Core</model>
            </core>
            <alfa>
                <title>alfa</title>
                <paycode>88888</paycode>
            </alfa>
            <cc>
                <title>cc</title>
                <is_token>0</is_token>
            </cc>
            <mandiri_lite>
                <title>mandiri_lite</title>
                <paycode></paycode>
            </mandiri_lite>
            <mandiri_full>
                <title>mandiri_full</title>
                <paycode></paycode>
            </mandiri_full>
            <permata_lite>
                <title>permata_lite</title>
                <paycode></paycode>
            </permata_lite>
            <permata_full>
                <title>permata_full</title>
                <paycode></paycode>
            </permata_full>
            <sinarmas_lite>
                <title>sinarmas_lite</title>
                <paycode></paycode>
            </sinarmas_lite>
            <sinarmas_full>
                <title>sinarmas_full</title>
                <paycode></paycode>
            </sinarmas_full>
        </payment>
    </default>
</config>
