<!--@subject {{trans "%subject" subject=$data.subject}} @-->
<p><b>{{trans "Dear %customerName" customerName=$data.customerName}}</b></p><br>
<p>Thank you for your order at {{trans "Dear %storeName" storeName=$data.storeName}}. Your order will be processed after
    you have completed the payment at ATM or Internet Banking that connected to ATM Bersama, Prima, or ALTO network.</p><br>
<b>
<p>YOUR PAYMENT CODE:</p>
<p>{{trans "%payCode" payCode=$data.payCode}}</p><br>
<p>TOTAL ORDER AMOUNT:</p>
<p>{{trans "%amount" amount=$data.amount}}</p><br>
</b>
<p>We suggest yo do the payment immediately. Your payment code will be expired in ${expiredate} hours, where order will
    be cancelled beyond that time.</p><br>
<p>How to pay at Alfa Group outlets : </p><br>
<p>
    <ol>
    <li>Visit Alfamart, Alfa Midi, Alfa Express, Lawson, or DAN+DAN nearest outlets with your payment code.</li>
    <li>Info to cashier that you want to pay DOKU Merchant by open e-transaction menu, choose menu number "2", and then "5",
        and then "1: DOKU-Pembayaran Merchant DOKU".</li>
    <li>Cashier will info the Merchant name and the amount to be paid.</li>
    <li>Do the payment to cashier with mentioned amount. Payment can be done via cash or non cash. Available non cash option
        include BCA Debit Card, BNI Debit Card, BCA Flazz, BNI Prepaid and Mandiri e-money.</li>
    <li>Take the receipt as proof of payment already success. Payment notification is received by Merchant in realtime.</li>
    <li>Finish.</li>
</ol>
</p><br><br>
<p>If you have any questions, feel free to ask us at <a href="mailto:care@doku.com">care@doku.com.</a></p><br>
<p>Thank you</p>
<p>DOKU, The Better Way To Pay</p>